*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(47, 88%, 63%);
    width: 100%;
    min-height: 100vh;
    min-width: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.container{
   
    
    height: 500px;
    width: 326px;
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
    border: 1px solid black ;
}
.internal-box {
    margin: 1rem;
}
.img-wrapper img{
   width: 100%;
}

 .published-date{
    margin: 1rem 0;
 }
.published-date span{
background-color: hsl(47, 88%, 63%);
font-weight: 500;

margin-right: 169px;
border-radius: 2px;
padding: 3px;

}

.author p{
    display: inline-block;
   margin-right: 10px;
}
.autho{
    
}