*{
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(47, 88%, 63%);
    width: 100%;
    min-height: 100vh;
    /* min-width: 384px; */
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   font-family: "Figtree", sans-serif;
   font-optical-sizing: auto;
 
}

.container{
    height: 522px;
    width: 384px;
   /* margin: 10px; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 9px 1px 4px black;
    border: 1px solid black ;
    
}
.internal-container{
    padding: 20px; 
    
}
/* .internal-box {
    margin: 1rem;
} */
.img-wrapper img{
   width: 100%;
   border-radius: 15px;
   
}


 .published-date{
    margin: 1rem 0 ;
 }
.published-date h4{
background-color: hsl(47, 88%, 63%);
font-weight: 800;
border-radius: 4px;
padding: 3px;
width: 80px;
text-align: center;

}
.published-date p{
    margin-top: 1rem;
}


.title-wrapper h3{
margin-bottom: 1rem;
font-weight: 800;
}
.title-wrapper p{
font-size: 16px;
font-weight: 600;
opacity: 0.5;
}
.author {
    
   display: flex;
   align-items: center;
   margin-top: 1rem;
  
}
.author p{
margin-left: 15px;
font-weight: 800;
}